.InputContact {
    width: 100%;
    display: flex;
    flex-direction: column;

    .iContactInput {
        width: 550px;
        height: 74px;
        box-sizing: border-box;
        margin: 8px auto;
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 24px;

        .iContactTag {
            padding: 0;
            margin: 0;
            font-family: Public Sans;
            font-style: normal;
            font-weight: 800;
            font-size: 16px;
            line-height: 21px;
            color: #2F2F2F;
        }

        .iContactRow {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            .iContactCountry {
                cursor: pointer;
                width: 23px;
                height: 23px;
                margin-right: 12px;
            }
            
            .iContactText {
                border: none;
                padding: 0;
                margin: 0;
                font-family: Public Sans;
                font-style: normal;
                font-weight: 800;
                font-size: 19px;
                line-height: 21px;
                color: #2F2F2F;
            }
        }

        .iContactText {
            border: none;
            padding: 0;
            margin: 0;
            font-family: Public Sans;
            font-style: normal;
            font-weight: 800;
            font-size: 19px;
            line-height: 21px;
            color: #2F2F2F;
        }

        ::placeholder {
            font-family: Public Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            color: #9F9F9F;
        }

        .iContactText:focus {
            outline: none;
        }
    }
}