.Form {
    width: 560px;
    min-height: 700px;
    box-sizing: border-box;

    .heading {
        width: 100%;
        padding: 28px 0;

        h1 {
            margin: 0;
            padding: 0;
            font-family: "Hind";
            font-weight: bold;
            font-size: 46px;
            line-height: 52px;
            letter-spacing: 0.01em;
            color: #000;
        }
    }

    .buttonsArea {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0px;
        justify-content: space-between;
    }
}